<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969894356786-gjk70mppnvokjj3tu8dkai0cdlikni4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969894356786-gjk70mppnvokjj3tu8dkai0cdlikni4t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>969894356786-mtgtdrmpfu7rgps2jb7jea8gao7n34v0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClXF4bPJUExc6ktr7rCstagtyzSX7G6YE</string>
	<key>GCM_SENDER_ID</key>
	<string>969894356786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sarvika.employeedirectory.debug</string>
	<key>PROJECT_ID</key>
	<string>employeedirectory-b5195</string>
	<key>STORAGE_BUCKET</key>
	<string>employeedirectory-b5195.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969894356786:ios:218c09dd3fa357448ed92b</string>
	<key>DATABASE_URL</key>
	<string>https://employeedirectory-b5195.firebaseio.com</string>
</dict>
</plist>